#aplab-admin-content {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto;
  background: $content-background-color none repeat scroll 0 0;
  overflow: hidden;
  z-index: 200;
  //-webkit-transition: left 0.01s ease 0s;
  //-o-transition: left 0.01s ease 0s;
  //transition: left 0.01s ease 0s;
}

#aplab-admin-open-launcher {
  position: absolute;
  left: 0;
  top: 0;
  width: $navbar-height;
  height: $navbar-height;
  background: $navbar-background-color;
  border: 0;
  color: #fff;
  font-size: 28px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  line-height: 49px;
  outline-style: none;
  cursor: pointer;
}
.apl-admin-launcher-is-opened #aplab-admin-open-launcher {
  display: none;
}

#aplab-admin-open-action-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: $navbar-height;
  height: $navbar-height;
  background: $navbar-background-color;
  border: 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  line-height: 49px;
  outline-style: none;
  cursor: pointer;
}

#aplab-admin-navbar {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: $navbar-height;
  top: 0;
  bottom: auto;
  //overflow: hidden;
  z-index: 200;
  color: #fff;
  background: $navbar-background-color;
}

#aplab-admin-workarea {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: $navbar-height;
  height: auto;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
}

#aplab-admin-toolbar-wrapper {
  position: absolute;
  left: $navbar-height;
  right: $navbar-height;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  -webkit-transition: left 0.15s ease 0s;
  -o-transition: left 0.15s ease 0s;
  transition: left 0.15s ease 0s;
  //background: #ccc;
}
